<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pathsala</title>
    <link rel="stylesheet" href="/stylesheet/index.css">
</head>
<nav class="navbar">
        <div class="logo">Pathsala</div>
        <div class="search-box">
            <input type="text" placeholder="Search...">
            <button>Search</button>
        </div>
        <a href="/">
            <button class="addition-btn">Home</button>
        </a>
        <a href="/addmition">
            <button class="addition-btn">Addmition</button>
        </a>
    </nav>